<div class="morse-dot"></div>

<style>
  .morse-dot {
    width: 12px;
    height: 12px;
    background: var(--color-3);
    border-radius: 50%;
    margin-right: 3px;
    margin-bottom: 3px;
  }
</style>